:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: none;
  background: none;
}

@media (min-width: 768px) {
  a,
  button {
    cursor: pointer;
  }
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #cc6666;
  width: 100%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header {
  padding: 1rem 0;
  font-size: 1.4rem;
  margin-bottom: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: inherit;
}

.header .logo {
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1.8rem;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  width: 100%;
}

.card__navigation {
  display: block;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .card__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card__navigation li button {
  padding: 6px 10px;
  border-radius: 4px;
}

.card__navigation li button.active {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.card__navigation li button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.card__navigation li:nth-child(2) {
  margin: .6rem 0;
}

@media (min-width: 768px) {
  .card__navigation li:nth-child(2) {
    margin: 0 1rem;
  }
}

.card__timer {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  margin-bottom: .4em;
  font-weight: 700;
}

.card__timer .separator {
  font-family: 'Poppins', sans-serif;
  margin: 0 12px;
}

.card__message {
  color: #dedede;
}

.card__button {
  background-color: white;
  color: #cc6666;
  display: block;
  width: 100%;
  padding: 1em 0;
  border-radius: 6px;
  margin-top: 1rem;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.card__button:hover {
  opacity: .8;
}

.card__button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.container {
  margin: 0 1.5rem;
}

@media (min-width: 768px) {
  .container {
    margin: 0 2rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid.column-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid.gap-1 {
  gap: 10px;
}

.d-none {
  display: none;
}
